# import 문 – 라이브러리 가져오기



*   다른 사람이 만들어 놓은 코드 묶음(도구)를 불러오는 것
*   그래프, 데이터 분석, 웹 등 다양하게 사용
*   as 뒤는 별명

In [ ]:
import sympy as sp #수학 기호 계산을 도와주는 라이브러리
import matplotlib.pyplot as plt #그래프를 그려주는 라이브러리
import numpy as np #수치 계산을 도와주는 라이브러리
import pandas as pd #데이터 분석을 도와주는 라이브러리

In [ ]:
!pip install koreanize_matplotlib # matplotlib에서 한글이 깨지지 않도록 폰트 설정하는 라이브러리
import koreanize_matplotlib

# 1. 출력하기 - print()


*  글자를 화면에 보여줌
*  따옴표는 문자열을 의미

In [ ]:
#출력하기

print("안녕")

안녕

In [ ]:
print(10)

10

# 2. 변수 만들기 - 값 저장


*   = 는 값을 저장한다는 뜻
*   name, age 등 변수 이름은 마음대로 정할 수 있음<br><br>

score = 90         ✅<br>
score1 = 85        ✅<br>
_score = 100       ✅<br>
1score = 90        ❌ 오류 (숫자로 시작)<br>
total-score = 80   ❌ 오류 (-는 연산자로 인식됨)<br>

In [ ]:
name = '서준'
print(name)

서준

In [ ]:
age = 17
print(age)

17

# 3. 자료형 (데이터의 종류)



*   자료형에 따라 다르게 다룸

In [ ]:
a = 10          #정수(int)
b = 3.14        #실수(float)
c = "hello"     #문자열(str)
d = True        #불리언(bool)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# 문자열 포맷(f-string)


*   문자열 안에 {}로 변수값을 넣는 방법
*   f"..." 형태로 사용

In [ ]:
name = "영희"
print(f"{name}님, 안녕하세요!")

영희님, 안녕하세요!

In [ ]:
age = 17
print(f"{name}는 {age}살 입니다.")

영희는 17살 입니다.

# 4. 입력받기 - input()


*   사용자가 직접 값을 입력함
*   결과는 항상 "문자열(str)"로 들어옴

In [ ]:
name = input("이름을 입력하세요: ")
print(name)

이름을 입력하세요: 영희
영희

In [ ]:
name = input("이름을 입력하세요: ")
print(f"{name}님, 안녕하세요!")

이름을 입력하세요: 나리
나리님, 안녕하세요!

# 5. 형 변환 – int(), float(), str()


*   input()으로 받은 값은 문자 → 숫자로 바꾸려면 int() 필요

In [ ]:
age = input("나이를 입력하세요: ")
print(age)
print(type(age))

나이를 입력하세요: 17
17
<class 'str'>

In [ ]:
age = int(input("나이를 입력하세요: "))
print(age)
print(type(age))

나이를 입력하세요: 17
17
<class 'int'>

In [ ]:
age1 = input("나이를 입력하세요: ")
age2 = input("나이를 입력하세요: ")
print(age1 + age2)

나이를 입력하세요: 17
나이를 입력하세요: 18
1718

In [ ]:
age1 = int(input("나이를 입력하세요: "))
age2 = int(input("나이를 입력하세요: "))
print(age1 + age2)

나이를 입력하세요: 17
나이를 입력하세요: 18
35

# 6. 연산자 – 계산하기

In [ ]:
a = 10
b = 3
print(a + b)   # 더하기
print(a - b)   # 빼기
print(a * b)   # 곱하기
print(a / b)   # 나누기 (실수)
print(a // b)  # 나누기 (정수)
print(a % b)   # 나머지
print(a ** b)  # 거듭제곱

13
7
30
3.3333333333333335
3
1
1000

# 연습


*   달러 -> 원화 변환기

In [9]:
# 환율 변수 설정하기
rate = 1424.20

# 금액 float로 입력 받기
usd = float(input("달러를 입력하세요: "))

# 계산
won = usd * rate

# 출력
print(f"{usd}달러는 {won}원 입니다.")

달러를 입력하세요: 17
17.0달러는 24211.4원 입니다.

# 연습

*  수식 $x^3 - 2x + 1$ 를 변수 $y$ 에 저장하고 변수 $y$  를 프린트 하세요.

In [8]:
x = sp.Symbol('x') # 수학기호로서의 'x'로 만들기

y = x**3-2*x+1

print(y)

x**3 - 2*x + 1

In [7]:
sp.init_printing()  # 수식 예쁘게 출력 준비
display(y)

 3
x  - 2⋅x + 1

# 7. 조건문 – if, else


*   조건에 따라 다른 결과를 출력함
*   : 콜론 뒤는 반드시 들여쓰기로 구분!

In [ ]:
score = 85
if score >= 90:
    print("A학점")
else:
    print("B학점")

B학점

In [ ]:
score = 65
if score >= 90:
    print("A학점")
elif score >= 80:
    print("B학점")
else:
    print("C학점")

C학점

In [ ]:
# 점수를 사용자로부터 입력받음
score = float(input("점수를 입력하세요: "))

# 조건문으로 학점 출력
if score >= 90:
    print("A학점")
elif score >= 80:
    print("B학점")
else:
    print("C학점")

점수를 입력하세요: 85.5
B학점

# 8. 리스트

*   여러 값을 순서대로 저장하는 자료형
*   값에 접근할 때는 colors[0]처럼 인덱스 사용

In [ ]:
# 리스트

colors = ["빨강", "초록", "파랑"]
print(colors)

['빨강', '초록', '파랑']

In [ ]:
print(colors[0])

빨강

# 9. 딕셔너리


*   이름:값 형태로 저장 {Key:Value}
*   값에 접근할 땐 student["이름"]

In [ ]:
student = {"이름": "민수", "점수": 95}
print(student)
print(student["이름"])

{'이름': '민수', '점수': 95}
민수